

header {
    background-color:lightgray;
    padding: 10px;
    text-align: center;
    font-size: 25px;
    color: darkblue;
}
/*Sub-titulos*/
h2{
    text-align: center;
}

/*Parrafos*/
p{
    text-align: justify;
}
/*Barra de Navegacion*/
ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
    overflow: hidden;
    background-color:whitesmoke;
}

/*li{
    float:left;
}*/

li a{
    display:block;
    color:black;
    text-align: center;
    padding: 14px 16px;
    text-decoration:none;
}

li a:hover{
    background-color:darkcyan;
    color:white;
}

body{
    background-color: lightgrey;
}

/*Marcas*/
.marcas{
    text-align: center;
}
.logos{
    width: 15%;
    height: 15%;
    transition: 0.4s; /*Velocidad Animacion*/
    margin: 9px;
}
/*ZOOM LOGOS*/
.logos:hover{
    transform: scale(1.4);
}


#img_cpu{
    width: 25%;
    height: 25%;
}